*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
html,body{
    height: 100%;
}
p,h1{
    padding: 0;
    margin: 0;
}
  .grey{
    color: grey;
}
.smallfont{
    font-size: 2.25vmin;
  }
  .mediumfont{
    font-size: 3vmin;
  }
  .verybigfont{
    font-size: 11.01vmin;
  }
  .bigfont{
    font-size: 9vmin;
  }
  .lessfontweight{
    font-weight: 100;
  }
  .mediumfontweight{
    font-weight: 300;
  }


/************************ MAIN BLANK PAGE *****************************************/
  
.home{
        /* width: 100vw; */
        min-height: 100vh;
        font-family: 'Lato', sans-serif;
        position: relative;
        box-sizing: border-box;
        padding: 0 0 5.5vh;
        margin: 0;
}

 /******************************* NAVBAR CSS **************************************/
  .navbarcss
  {
    min-height: 7vh;
    width: auto; 
  }
  .navbar{
    padding: .2vh 2vw;
  }
  .navbar-toggler{
    padding: 2px 6px;
  }
  .modetoggler{
    font-size: 100%;
  }
      
/**************************** BODY SECTION CSS ************************************/

.intro{
    padding: 0;
    margin: 0;
  }
.imgmain{
    padding: 10vh 0 2vh 0;
}

.iconscss{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 150%;
  }


  .linkedincss:hover{
    background: #0e76a8 !important;
    border-radius: 2px;
  }
  .instagramcss:hover{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); */
    border-radius: 2px;    
}
    .twittercss:hover{
      background: #00acee !important;
      border-radius: 2px; 
    }

/****************************** MOBILE  SCREEN ************************************/
  @media (max-width:768px)
  {
    .smallfont{
        font-size: 100%;
      }
      .verybigfont{
        font-size: 250%;
      }
      .mediumfont{
        font-size: 150%;
      }
      .bigfont{
        font-size: 200%;
      }
      .imgmain{
        padding: 3vh 0 .5vh 0;
      }
      .footercss p{
        font-size: 100%;
      }
      .navbar{
        padding: .7vh 3vw;
      }
      .navbar-toggler{
        padding: 1px 3px;
      } 
  }


/************************************* FOOTER CSS ********************************/

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 5.5vh;
}