/*************** NAVBAR ****************/
.linkdark {
  cursor: pointer !important;
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.8) !important;
  font-size: 100%;
  font-weight: 600;
}
.linkdark:hover {
  color: gray !important;
}

/**************************** BODY SECTION CSS ************************************/
.imgcssdarkmode {
  border: 2px solid white;
}

.iconscssdarkmode i {
  margin: 15px;
  padding: 5px;
  font-size: 3.7vmin;
  text-decoration: none;
  color: white;
}
.iconscssdarkmode i:hover {
  color: white;
  transform: scale(1.2);
  transition: ease-in 0.2s;
  background-color: black;
  font-weight: 500;
  border-radius: 2px;
}

/****************************** MOBILE  SCREEN ************************************/
@media (max-width: 768px) {
  .iconscssdarkmode i {
    font-size: 100% !important;
  }
  .content {
    min-height: 30vh;
    padding: 4vh 5vw;
  }
}

/* ********************PROJECTS PAGE   *************************** */

.projectsdarkmode {
  background-color: #343a40;
}
