/*************** NAVBAR ****************/
.linklight {
  cursor: pointer !important;
  text-decoration: none !important;
  color: white !important;
  font-size: 100%;
  font-weight: 600;
}
.linklight:hover {
  color: lightgrey !important;
}

/**************************** BODY SECTION CSS ************************************/

.imgcsslightmode {
  border: 2px solid black;
}
.iconscsslightmode i {
  margin: 15px;
  padding: 5px;
  font-size: 3.7vmin;
  text-decoration: none;
  color: black;
  border-radius: 2px;
}
.iconscsslightmode i:hover {
  color: white;
  transform: scale(1.2);
  transition: ease-in 0.2s;
  background-color: black;
  font-weight: 500;
  border-radius: 2px;
}

/****************************** MOBILE  SCREEN ************************************/
@media (max-width: 768px) {
  .iconscsslightmode i {
    font-size: 100% !important;
  }
}