
  /************************************** BIG SCREEN *******************************/
  /* @media (min-width:1024px)
  {
     .smallfont{
        font-size: 100%;
      }
      .verybigfont{
        font-size: 5rem;
      }
      .bigfont{
        font-size: 4.5rem;
      } 
    
    .navbarcss i{
      font-size: 25px;
      margin-top: 8px;
    }
    .navbar{
      padding: 5px 2vw;
    }
    .navbarcss{
      min-height: 6.5vh;
    }
    .imgmain{
      padding: 9vh 0 .5vh 0;
    }
    .bodycssdarkmode{
      min-height: 87.9%;
      width: 100%;
      background-color: #343a40;
      padding: 6vh 2vw;
      color: white;
    
    }
    .iconscssdarkmode i{
      margin: 20px;
      padding: 8px;
      font-size: 35px;
      text-decoration: none;
      color: white;
    
    }
    .bodycsslightmode{
      min-height: 87.9%;
      width: 100%;
      background-color: white;
      padding: 6vh 2vw;
      color: black;
    
    }
    .iconscsslightmode i{
      margin: 20px;
      padding: 8px;
      font-size: 35px;
      text-decoration: none;
      color: black;
    
    }
    .footercssdark p,.footercsslight p{
      font-size: 22px;
    }
   
  
  } */

