*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
p,h1{
  padding: 0;
  margin: 0;
}
.grey{
  color: grey;
}
.smallfont{
  font-size: 15px;
}
.verybigfont{
  font-size: 75px;
}
.bigfont{
  font-size: 65px;
}
.lessfontweight{
  font-weight: 100;
}
.mediumfontweight{
  font-weight: 300;
}
/************************ MAIN BLANK PAGE *****************************************/

.home{
  min-width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}



/******************************* NAVBAR CSS **************************************/
.navbarcss
{
  min-height: 8.1vh;
  width: auto; 
}
.navbarcss i{
  font-size: 20px;
}
.navbar{
  padding: 0 1vw;
}
.navbar-toggler{
  padding: 2px 6px;
}
.linkdark{
  cursor: pointer !important;
  text-decoration: none !important;
  color: rgba(0,0,0,0.8) !important;
}
.linklight{
  cursor: pointer !important;
  text-decoration: none !important;
  color: white !important;
}
.linklight:hover{
  color: lightgrey !important;
}
.linkdark:hover{
  color: gray !important;
}


/**************************** BODY SECTION CSS ************************************/
.intro{
  padding: 0;
  margin: 0;
}
.imgmain{
  padding: 11vh 0 2vh 0;
}

.bodycssdarkmode{
  min-height: 86.9%;
  width: 100%;
  background-color: #343a40;
  padding: 2vh 2vw;
  color: white;
}
.imgcssdarkmode{
  border:2px solid white;
}

.iconscss{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.iconscssdarkmode i{
  margin: 15px;
  padding: 5px;
  font-size: 25px;
  text-decoration: none;
  color: white;

}
.iconscssdarkmode i:hover{
  color: black;
  transform: scale(1.2);
  transition: ease-in .2s;
  background-color: white;
  font-weight: 500;
}
.iconscsslightmode i{
  margin: 15px;
  padding: 5px;
  font-size: 25px;
  text-decoration: none;
  color: black;

}
.iconscsslightmode i:hover{
  color: white;
  transform: scale(1.2);
  transition: ease-in .2s;
  background-color: black;
  font-weight: 500;
}
.bodycsslightmode{
  min-height: 86.9%;
  width: 100%;
  background-color: white;
  padding: 2vh 2vw;
  color: black;
}
.imgcsslightmode{
  border:2px solid black;
}






/****************************** MOBILE  SCREEN ************************************/


@media (max-width:767px)
{
.smallfont{
  font-size: 10px;
}
.verybigfont{
  font-size: 55px;
}
.bigfont{
  font-size: 41px;
}
.imgmain{
  padding: 3vh 0 .5vh 0;
}
.footercss p{
  font-size: 16px;
}
.navbar{
  padding: .2vh 3vw;
}
.navbar-toggler{
  padding: 1px 3px;
}
.bodycssdarkmode{
  min-height: 89%;
  width: 100%;
  background-color: #343a40;
  padding: 1vh 2vw;
  color: white;

}
.bodycsslightmode{
  min-height: 89%;
  width: 100%;
  background-color: white;
  padding: 1vh 2vw;
  color: black;

}
}



/************************************** BIG SCREEN *******************************/
@media (min-width:1919px)
{
  .smallfont{
    font-size: 1.3rem;
  }
  .verybigfont{
    font-size: 5rem;
  }
  .bigfont{
    font-size: 4.5rem;
  }
  .navbarcss i{
    font-size: 25px;
    margin-top: 8px;
  }
  .navbar{
    padding: 5px 2vw;
  }
  .navbarcss{
    min-height: 6.5vh;
  }
  .imgmain{
    padding: 9vh 0 .5vh 0;
  }
  .bodycssdarkmode{
    min-height: 87.9%;
    width: 100%;
    background-color: #343a40;
    padding: 6vh 2vw;
    color: white;
  
  }
  .iconscssdarkmode i{
    margin: 20px;
    padding: 8px;
    font-size: 35px;
    text-decoration: none;
    color: white;
  
  }
  .bodycsslightmode{
    min-height: 87.9%;
    width: 100%;
    background-color: white;
    padding: 6vh 2vw;
    color: black;
  
  }
  .iconscsslightmode i{
    margin: 20px;
    padding: 8px;
    font-size: 35px;
    text-decoration: none;
    color: black;
  
  }
  .footercssdark p,.footercsslight p{
    font-size: 22px;
  }
 

}
/************************************* FOOTER CSS ********************************/
.footercssdarkmode{
  min-height: 5vh;
  width: auto;
  padding: 0.6vh 2vw;
  text-align: center;

}
.footercssdarkmode p{
  font-size: 16px;
}
.footercsslightmode{
  min-height: 5vh;
  width: auto;
  padding: 0.6vh 2vw;
  text-align: center;
  background-color:#343a40;
}
.footercsslightmode p{
  font-size: 16px;
  color: white;
}
